streamlit
langchain
langchain-community
langchain-groq
langchain-huggingface
langchain-experimental
langchain-text-splitters
faiss-cpu
sentence-transformers
rank-bm25
pypdf
docx2txt
huggingface-hub
transformers
torch
tokenizers
